html,
body,
#map-id {
  padding-left: 28%;
  padding-right: 28%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

mapcontainer {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  height: 100vh;            /* Full viewport height */
}


/* Custom styles for Leaflet popups */
  .leaflet-popup-content {
    font-size: 14px;
    color: #333;
}

.leaflet-popup-content h3 {
    margin-top: 0;
    color: #2a7ae2;
}

.leaflet-popup-content p {
    margin: 0;
}

.custom-popup {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

#treeMap {
  height: 800px; /* Set height in pixels */
  width: 100%;   /* Set width to 100% of the parent container */
}

