html,
body,
#map-id {
  padding-left: 24%;
  padding-right: 24%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

mapcontainer {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  height: 100vh;            /* Full viewport height */
}


